<div>
  <h1><span>Address</span><small>{{balance}} TUX</small></h1>

  <div class="card card-body bg-light" style="padding: 0.5rem;">
    <span><strong>Address</strong> <span class="txid text-muted"> {{address}}</span></span>
  </div>
  <h2>Summary</h2>
  <div class="row">
    <div class="col-md-10">
      <table class="table">
        <tbody>
          <tr>
            <td>
              <strong>Total Received</strong>
            </td>
            <td style="text-align: right">{{received}} TUX</td>
          </tr>
          <tr>
            <td>
              <strong>Total Sent</strong>
            </td>
            <td style="text-align: right">{{sent}} TUX</td>
          </tr>
          <tr>
            <td>
              <strong>Final Balance</strong>
            </td>
            <td style="text-align: right">
              {{balance}} TUX
            </td>
          </tr>
          <!-- <tr>
                        <td>
                            <strong>No. Transactions</strong>
                        </td>
                        <td></td>
                    </tr> -->
        </tbody>
      </table>
    </div>
    <div class="col-md-2">
      <!-- <qrcode [qrdata]="'test'" [size]="256" [level]="'M'"></qrcode> -->
      <ngx-qrcode [qrc-element-type]="elementType" [qrc-value]="address" qrc-class="aclass" qrc-errorCorrectionLevel="L">
      </ngx-qrcode>
    </div>
  </div>
  <h2>Transactions</h2>
  <div class="search-results" infinite-scroll [infiniteScrollDistance]="scrollDistance" [infiniteScrollUpDistance]="scrollUpDistance"
    [infiniteScrollThrottle]="throttle" (scrolled)="onScrollDown()">
    <div class="block-tx" *ngFor="let tx of txs">
      <transaction [tx]="tx"></transaction>
    </div>
  </div>
</div>
