<div class="row">
  <div class="col-md-8">
    <h1>Latest Blocks</h1>
    <table mdbTable hover="true">
      <thead>
        <tr>
          <th scope="col">Height</th>
          <th scope="col">Age</th>
          <th scope="col">Transactions</th>
          <th scope="col">Mined by</th>
          <th scope="col">Size</th>
        </tr>
      </thead>
      <tbody>
        <tr mdbTableCol *ngFor="let block of blocks">
          <th scope="row"><a style="color: #007bff" (click)="goBlock(block.hash)">{{block.height}}</a></th>
          <td>{{age(block.timestamp)}}</td>
          <td>{{block.tx.length}}</td>
          <td><span *ngIf="block.pool"><a style="color: #007bff" target="_blank" href="{{block.pool.url}}">{{block.pool.name}}</a></span></td>
          <td>{{block.size}}</td>
        </tr>
      </tbody>
    </table>
    <h1>Latest Transactions</h1>
    <table mdbTable hover="true">
      <thead>
        <tr>
          <th scope="col">Hash</th>
          <th scope="col">Value out</th>
        </tr>
      </thead>
      <tbody>
        <tr mdbTableCol *ngFor="let tx of transactions">
          <th scope="row"><a style="color: #007bff" (click)="goTx(tx.txid)">{{tx.txid}}</a></th>
          <td>{{tx.output_value / environment.coin.division}} {{environment.coin.ticker}} </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-4">
    <div class="col-gray">
      <h2>
        About
      </h2>
      <p>
        An open source blockchain explorer.
      </p>

      <a target="_blank" href="https://github.com/ryan-shaw/kal-explorer">Fork me on GitHub</a>

      <div>
        Version: {{version.raw}}
      </div>
    </div>
  </div>
</div>
