<div class="row">
  <div class="col-8">
    <h1>Rich List</h1>
    <table mdbTable hover="true">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Address</th>
          <th scope="col">Balance</th>
        </tr>
      </thead>
      <tbody>
        <tr mdbTableCol *ngFor="let entry of richlist; let i = index">
          <th>{{i + 1}}</th>
          <td scope="row"><a style="color: #007bff" (click)="goAddress(entry.address)">{{entry.address}}</a></td>
          <td>{{entry.balance / environment.coin.division}} TUX</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-4">
    <div class="col-gray" *ngIf="distribution">
      <h2>
        Distribution
      </h2>
      <table mdbTable hover="true">
        <thead>
          <tr>
            <th>#</th>
            <th>Amount</th>
            <th>%</th>
          </tr>
        </thead>
        <tbody>
          <tr mdbTableCol>
            <th>1-25</th>
            <td>{{distribution['0_24']['total'] / environment.coin.division}} {{environment.coin.ticker}}</td>
            <td>{{distribution['0_24']['percent']}}</td>
          </tr>
          <tr mdbTableCol>
            <th>26-50</th>
            <td>{{distribution['25_49']['total'] / environment.coin.division}} {{environment.coin.ticker}}</td>
            <td>{{distribution['25_49']['percent']}}</td>
          </tr>
          <tr mdbTableCol>
            <th>51-100</th>
            <td>{{distribution['50_99']['total'] / environment.coin.division}} {{environment.coin.ticker}}</td>
            <td>{{distribution['25_49']['percent']}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
