<div *ngIf="tx">
  <h1><span>Transaction</span></h1>

  <div class="card card-body bg-light" style="padding: 0.5rem;">
    <span><strong>Transaction</strong> <span class="txid text-muted"> {{txid}}</span></span>
  </div>
  <h2>Summary</h2>
  <div class="row">
    <div class="col-md-10">
      <table class="table">
        <tbody>
          <!-- <tr>
            <td>
              <strong>Size</strong>
            </td>
            <td></td>
          </tr>
          <tr>
            <td>
              <strong>Received Time</strong>
            </td>
            <td></td>
          </tr> -->
          <tr>
            <td>
              <strong>Mined Time</strong>
            </td>
            <td>
                {{timestamp()}}
            </td>
          </tr>
          <tr>
            <td>
              <strong>Included in Block</strong>
            </td>
            <td>
                <a (click)="goBlock(tx.block)" style="color: #007bff">{{tx.block}}</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <h2>Details</h2>
  <div class="block-tx">
    <transaction [tx]="tx"></transaction>
  </div>
</div>
